doctype html
html(lang='en')
  head
    link(rel='stylesheet', href="/styles/styles.css")
    title social NetWork
  body
    h1 my social network app
    hr
    block body
  footer
    hr
    p footer~~~
    script(type='text/javascript', src='/scripts/libs/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/scripts/libs/underscore.js')
    script(type='text/javascript', src='/scripts/libs/backbone.js')
    script(type='text/javascript', src='/scripts/libs/juicer-min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

    script(data-main='/scripts/boot', type='text/javascript', src='/scripts/libs/require.js')
    block footer
