node_modules
build
.requirejs
cdn
tmp
dist
.tmp
.minify
.build
.sass-cache
app/bower_components
js/angular-requirejs-seed/app/bower_components
.idea/
.DS_Store
java/.DS_Store
js/.DS_Store
.DS_Store
target

.project
.classpath
target
**/target
.settings

*.svn*
.svn
*.iml
.idea
bak
*.log

node_modules
.build
.minify
.compile
.build
.DS_Store

**/.idea

*._.editorconfig
