<!doctype html>
<html>
    <head>
        <title>使用ZingChart生成报表<%=settings.name%><%=age%></title>
        <link rel="stylesheet" type="text/css" href="/styles/common.css"/>
    </head>
    <body>
        <div id="container1" style="min-width: 310px; height: 1000px; margin: 0 auto"></div>
        <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="container4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </body>
    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/underscore.js"></script>
    <script src="/vendor/zingchart-html5-min.js"></script>
    <script src="/vendor/zingchart.jquery.min.js"></script>
    <script src="/scripts/zingChart.js"></script>
</html>

