extends layout

block head
  link(rel='stylesheet', href='/static/css/chat.css')

block main-container
  div.content
    div.container-fluid
      div.header.row-fluid
          div.span5
            div.row-fluid
              div.span2
                img(src='/static/images/r1.jpg', width='80', height='80')
              div.span2
                div.top-title beijit
                div.top-note balabal
          div.span10.top-con

    div.container-fluid
      div.row-fluid
        div.span2.side sidbar
        div.span10.main-content content

